@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: 'Merriweather', serif;
}

.first-section {
    background-image: url("images/Banner\ Image.png");
    margin: 50px 120px 50px 120px;
    background-size: 100% 100%;
    height: 1000px;
    height: 500px;
    border-radius: 16px;
     

}

.first-head {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 90px;
}

.first-title {
    font-size:65px;
    color:#FFF;
    text-align:center;
    padding:10px 70px 30px 70px;
}