@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

* {}

.first-section {
    background-image: url("images/Banner\ Image.png");
    margin: 50px 120px 40px 120px;
    background-size: 100% 100%;
    height: 1000px;
    height: 500px;
    border-radius: 16px;



}

.first-head {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 90px;
    font-family: 'Merriweather', serif;
}

.first-title {
    font-size: 65px;
    color: #FFF;
    text-align: center;
    padding: 10px 70px 30px 70px;
    font-family: 'Merriweather', serif;
}

.second-section {
    text-align: center;
}



.second-discount {
    padding-top: 10px;
    color: #F00;
    font-family: 'Lato';
    font-size: 80px;
}

.second-pera {
    font-size: 20px;
    color: #F00;
    font-family: 'Lato';
}

.second-catago {
    font-family: 'Lato';
    font-size: 40px;
}

.new-year-section {
    text-align: center;
}

.new-year-poto {
    width: 640px;
    height: 400px;


}

.forth-section {
    background-image: url("images/Vectorrr.png");
    display: flex;
    width: 1000px;
    height: 500px;
    margin: 60px 130px;


}

.forth-item {
    padding: 40px 90px;

}

.forth-heading {
    color: #FFF;
    font-family: Merriweather;
    font-size: 45px;
    line-height: 68px;
}

.forth-pera {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 15px;
    line-height: 25px;
}

.forth-btn {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    margin-top: 30px;
    background: none;
    border-radius: 5px;
    border: 1px solid rgb(89, 85, 85);
    padding: 5px 8px;
}

.forth-image {
    align-items: center;
    width: 300px;
    height: 350px;
    padding-top: 70px;
    padding-right: 50px
}

.fifth-section {
    background-color: antiquewhite;
    width: 1000px;
    height: 400px;
    margin: 100px 130px;

}

.fifth-contant {
    text-align: center;
    padding-top: 50px;
    color: #070211;
    font-family: Inter;
    font-size: 25px;
}

.span {
    color: #F00;
}

.fifth-btn {
    border-radius: 5px;
    background: #F00;
    padding: 6px 20px;
    border: 0px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    margin-top: 40px;
}

.sisth-section {
     
    width: 1000px;
    height: 400px;
    margin: 100px 130px;
    display: flex;
    /* justify-content: space-between; */


}

.sisth-section div {
    justify-content: space-between;
   


}
.sixth-first{
   
    width:760px;
}

.sixth-pera {
    color: rgba(7, 2, 17, 0.60);

    font-family: Inter;
    font-size: 18px;
    line-height: 32px;
    
}

.sixth-heading {
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 22px;
    margin: 0px;
    padding-top: 40px;


}

.sixth-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    text-align: left;
    margin: 0px;
    padding-top: 30px;


}

.sixth-middle {
    padding-top: 70px;
    padding-right: 50px;



}

.ellipse {
    width: 260px;
    height: 265px;

    /* border-radius: 364.844px; */
    border-radius: 463px;
    border: 15px solid #F00;

}

.sixth-2024 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
     
     

}

.group {
    width: 140px;
    height: 140px;

}